# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Log files
*.log


# Documents
*.pdf

*.vscode

checkpoints/
DQN_model/
models/
Plots/
plots.py
